/* 
body{
  font-family: "DM Sans";
} */
/* .bg-box {
  height: 400px;
  width: 400px;
  background-color: white;
  border-radius: 100%;
  position: absolute;
} */

/* .mySwiper {
  width: 100%;
  height: 100%;
}

.mySwiper .swiper-pagination-bullet {
  background-color: black;
} */


.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  left: -22px;
}
.dropdown:hover .dropdownmenu{
  display: block
}

.dropdownmenu{
  animation: growDown 300ms ease-in-out forwards;
  transform-origin : top center
}


@keyframes growDown {
  0% {
      transform: scaleY(0)
  }
  80% {
      transform: scaleY(1.1)
  }
  100% {
      transform: scaleY(1)
  }
}
